localhost {
    handle {
        root * /srv/
        file_server
    }
    handle_path /api/* {
        uri strip_prefix /api
        reverse_proxy backend:3300
    }
    respond "You are attempting to access protected resources!" 403
}
